extends layout

block content
	div.searchBar
		form(name="search", method="post")
			input(type="text", value="#{searchString != null ? searchString : ''}", name="searchString")
			input(type="submit", value="Search")
			input(type="checkbox", name="showDone")
			| Show Done
	img(src="/images/Loading.gif", id="loadingImg")
	if searchResults != null
		br
		table.searchResultsTable
			tr
				th="ID"
				th="Status"
				th="Name"
			each result, i in searchResults
				tr
					td: a(href=result.full_url,target='_blank') #{result.idea_code}
					td=result.status
					td=result.name